.users__wrapper {
    display: flex;
    flex-direction: column;
}
.btn {
    display: block;
    width: 100px;
    height: 30px;
    background-color: #62D2A2;
    border: none;
    color: #F6F6f6;
    font-size: 18px;
    cursor: pointer;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.active__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar__box {
    width: 80px;
    height: 80px;
    
  }

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 50%;
}


.info__box {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid rgb(129, 122, 122);
    border-radius: 12px;
    width: 400px;
}