.nav {
    padding: 20px;
    min-width: 250px;
    position: fixed;
    height: 100vh;
    background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
    margin-right: 5px;
    margin-top: 80px;
    
  }
  
  
  