*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1a1a1a;
  text-decoration: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}
.content__box {
  width: 100%;
  margin-left: 260px;
  margin-top: 80px;
}

.main {
  display: flex;
}
a.active_link {
  color: brown;
  text-decoration: grey underline;
}