.content {
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
  }
  .avatar__box {
    width: 130px;
    height: 130px;
    margin-right: 35px;
  }
  
  .avatar__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about__box h2 {
    margin-bottom: 20px;
  }