.content {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 20px;
  width: 950px;
  min-height: 300px;
  background-color: #fff;
}
.avatar__box {
  width: 130px;
  height: 130px;
  margin-right: 35px;
}

.avatar__box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__box h2 {
  margin-bottom: 20px;
}

.about__edit {
  padding-left: 15px;
}

.icon__box {
  display: block;
  width: 30px;
}
.about__itom {
  display: flex;
  margin-right: 5px;
}
/**/
.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file_icon_wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
}
 
.input__file_button_text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file_button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: #3f4d67;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.error {
  color: red;
}